<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConStr" connectionString="server=rds56wk7qzmkec7j58lx1.mysql.rds.aliyuncs.com;database=r76vh4e95ql22lzi;uid=r76vh4e95ql22lzi;pwd=gaoning5239319;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>