<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="5.6.2.0" targetFramework="net40" />
  <package id="MySql.Data" version="6.9.8" targetFramework="net40" />
  <package id="Nancy" version="1.4.1" targetFramework="net40" />
  <package id="Nancy.Hosting.Aspnet" version="1.4.1" targetFramework="net40" />
  <package id="Nancy.Validation.FluentValidation" version="1.4.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40" />
  <package id="ServiceStack.Common" version="4.0.48" targetFramework="net40" />
  <package id="ServiceStack.Interfaces" version="4.0.48" targetFramework="net40" />
  <package id="ServiceStack.OrmLite" version="4.0.48" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.MySql" version="4.0.48" targetFramework="net40" />
  <package id="ServiceStack.Text" version="4.0.48" targetFramework="net40" />
</packages>