<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>

  <connectionStrings>
    <!--<add name="ConStr" connectionString="server=rds56wk7qzmkec7j58lx1.mysql.rds.aliyuncs.com;database=r76vh4e95ql22lzi;uid=r76vh4e95ql22lzi;pwd=gaoning5239319;" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="ConStr" connectionString="server=10.66.166.6;database=db_light;uid=root;pwd=1qaz!QAZ;" providerName="MySql.Data.MySqlClient" />-->
    <add name="ConStr" connectionString="server=5656b3001154f.sh.cdb.myqcloud.com;port=8237;database=db_light;uid=root;pwd=1qaz!QAZ;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
</configuration>